.container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
}

.side-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: fit-content;
}

.offers {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.no-results {
  width: 70%;
  margin-top: 2rem;
  text-align: center;
  height: fit-content;
  font-size: 2rem;
}

.loading-text {
  width: 70%;
  margin-top: 2rem;
  text-align: center;
  height: fit-content;
  font-size: 2rem;
}

.error-text {
  width: 70%;
  margin-top: 2rem;
  color: rgb(226, 82, 82);
  text-align: center;
  height: fit-content;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .side-panel {
    justify-content: space-between;
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .offers {
    width: 100%;
  }
}